@tailwind base;
@tailwind components;
@tailwind utilities;


#page-container{
    display: block !important;
}

.card-container{
    background-color: #fff;
    background-clip: border-box;
    border: .0625rem solid rgba(46,54,80,.125);
    border-radius: .5rem;
    box-shadow: 0 2px 18px rgba(0,0,0,.02) !important;
    transition: all .2s ease;
}

.sales-chart-size-response{
    min-height: 200px;
}

 
@media only screen and (max-width: 900px) {
    .sales-chart-size-response{
        min-height: 150px;
    }
  }

.categories-cart-container{
  /* width:calc(3 * 300px + (6 * 0.75rem)); */
  width:calc(100% + 16px);
}

.category-card-wrapper{
    width: 300px;
    min-height: 180px;
    border-radius: 0.5rem;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
}

@media only screen and (min-width: 1280px) {
    .category-card-wrapper{
        flex-grow: 0;
        max-width: 25%;
        flex-basis: 25%;
    }
  }

@media only screen and (min-width: 980px) {
    .category-card-wrapper{
        flex-grow: 0;
        max-width: 33.333333%;
        flex-basis: 33.333333%;
    }
  }

@media only screen and (min-width: 600px) {
    .category-card-wrapper{
        flex-grow: 0;
        max-width: 50%;
        flex-basis: 50%;
    }
  }
/* @media only screen and (max-width: 1088px) {
    .categories-cart-container{
        width:calc(2 * 300px + (4 * 0.75rem));
    }
  }

@media only screen and (max-width: 768px) {
    .categories-cart-container{
        width: calc(100%);
    }

    .category-card-wrapper{
        width: 100%;
        min-height: 180px;
    }
  }  */